/* 푸터 스타일 */
.footer {
  background-color: black;
  color: white;
  padding: 20px 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
  position: relative;
  margin-top: 50px;
  border-top: 1px solid rgb(99, 97, 97) ; /* 하얀색 밑줄 */
}

/* 푸터 내용 스타일 */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-social {
  margin-bottom: 25px;
  margin-top: 15px;
}

.footer-links {
  margin-bottom: 5px;
}

/* 링크 스타일 */
.footer-links span{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-social a {
  color: white;
  text-decoration: none;
  margin: 0 18px;
}

/* 링크 hover 시 스타일 */
.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

/* 저작권 스타일 */
.footer-copy {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}
